{
  "extends": "airbnb",
  "globals": {
    "describe": true,
    "it": true,
    "sinon": true
  },
  "rules": {
    "react/prop-types": 0,
    "no-console": 0,
    "react/no-multi-comp": 0,
    "no-unused-expressions": 0,
    "no-alert": 0,
    "id-length": 0,
    "camelcase": 0, /* In a perfect world I'd love to enforce this, but in our
                       not-so-perfect situation we have APIs that return
                       non-camelcase names. Better fix the API once we've got
                       more time. */
    "new-cap": 0
  }
}
