#nav-menu {
  background-color: #3d536d;
  min-height: 100%;
  width: 100%;
  position: absolute;
  height: 100vh;
  opacity: 0.1;
  transform: translate3d(-150px, 0, 0);
  transition: transform 0.3s cubic-bezier(0.7, 0, 0.25, 1), opacity 0.4s;
  overflow-y: scroll; /* has to be scroll, not auto */
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;

  &.open {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }

  #menu-overlay {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    left: 84%;
    bottom: 0;
    z-index: 3;
  }

  #search-bar {
    position: relative;
    padding: 15px;
    transition: background-color 0.3s;
    z-index: 1;

    // In case there is a search input
    #search-input {
      width: 84%;
    }

    #cancel-button {
      position: absolute;
      top: 0;
      right: 0;
      height: 70px;
      width: 16%;
      text-align: left;
      line-height: 70px;
      color: #fff;
      opacity: 0;
      transition: opacity 0.3s 0.2s;

      &.show {
        opacity: 0.5;
      }
    }
  }

  #user-list {
    margin-top: 15px;
    .user-item {
      display: flex;
      padding: 12px 15px;
      will-change: transform;

      .user-avatar {
        width: 40px;
        height: 40px;
        border-radius: 5px;
        background-position: center center;
        background-size: cover;
        margin-right: 20px;
        background-color: rgba(255, 255, 255, 0.5);
      }

      .fullname {
        font-family: GothamPro-Medium;
        font-size: 16px;
        color: #ffffff;
        margin-bottom: 9px;
      }

      .username {
        font-family: GothamPro;
        font-size: 12px;
        color: #8f9aa8;
      }
    }

    #loading {
      text-align: center;
    }
  }
}
