#nav-bar {
  @height: 60px;
  @icon-width: 50px;
  background-color: #0F2035;
  display: flex;
  height: @height;
  #hamberger-menu {
    background-image: url('/assets/hamberger-menu.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 21px 16px;
    height: @height;
    width: @icon-width;
  }
}
