<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>GitHub Explorer</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <% if (environment !== 'development') { %>
    <link type="text/css" rel="stylesheet" media="all" href="css/app.<%= version %>.css" />
    <% } %>
    <meta name="theme-color" content="#3d536d" />
    <link rel="manifest" href="manifest.json" />
    <link type="text/plain" rel="author" href="humans.txt" />
    <script>
        window.VERSION = '<%= version %>';
        window.ENV = '<%= environment %>';
    </script>
    <style>
      body {
        background-color: #f5f5f5;
        padding: 0;
        margin: 0;
      }
      #header-holder {
        height: 60px;
        background-color: #224365;
        position: relative;
      }
      #profile-holder {
        height: 363px;
        background-image: linear-gradient(to bottom, #224365, #0a1b30);
      }
    </style>
</head>

<body>

<div id="root">
  <div id="header-holder">
  </div>
  <div id="profile-holder">
  </div>
</div>
<script src="/js/app.<%= version %>.js"></script>
</body>

</html>
