<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>GitHub Explorer</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <meta name="theme-color" content="#3d536d" />
    <link rel="manifest" href="manifest.json" />
    <link type="text/plain" rel="author" href="humans.txt" />
    <script>
        window.VERSION = '<%= version %>';
        window.ENV = '<%= environment %>';
    </script>
    <style>
      body {
        background-color: #f5f5f5;
        padding: 0;
        margin: 0;
      }
      #header-holder {
        height: 60px;
        background-color: #0f2035;
        box-shadow: 0 3px 5px 0 rgba(15, 31, 52, 0.4);
        position: relative;
      }
      #profile-holder {
        height: 363px;
        background-image: linear-gradient(to bottom, #224365, #0a1b30);
      }
    </style>
</head>

<body>

<div id="root">
  <div id="header-holder">
  </div>
  <div id="profile-holder">
  </div>
</div>
  <script>
    function asyncScript(u, c) {
      var d = document, t = 'script',
          o = d.createElement(t),
          s = d.getElementsByTagName(t)[0];
      o.src = u;
      if (c) { o.addEventListener('load', function (e) { c(null, e); }, false); }
      s.parentNode.insertBefore(o, s);
    }

    function asyncCss(scr) {
      if (document.createStyleSheet) {
        document.createStyleSheet(scr);
      } else {
        var stylesheet = document.createElement('link');
        stylesheet.href = scr;
        stylesheet.rel = 'stylesheet';
        stylesheet.type = 'text/css';
        document.getElementsByTagName('head')[0].appendChild(stylesheet);
      }
    }

    function loadAssets() {
      asyncScript("/js/app.<%= version %>.js");

      <% if (environment !== 'development') { %>
      asyncCss("/css/app.<%= version %>.css");
      <% } %>
    }

    if (window.addEventListener) {
      window.addEventListener("load", loadAssets, false);
    } else if (window.attachEvent) {
      window.attachEvent("onload", loadAssets);
    } else {
      window.onload = loadAssets;
    }
  </script>
</body>

</html>
