#main-content {
  will-change: transform;
  transition: transform 0.4s cubic-bezier(0.7, 0, 0.25, 1),
              box-shadow 0.4s cubic-bezier(0.7, 0, 0.25, 1);
  box-shadow: -3px 0 5px 0 rgba(15, 31, 52, 0.4);
  height: 100vh;
  overflow: auto;
  &.open {
    transform: translate3d(84%, 0, 0);
    &.full {
      transform: translate3d(100%, 0, 0);
      box-shadow: none;
    }

    #menu-overlay {
      display: block;
    }
  }

  #menu-overlay {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 3;
  }
}
